@model List<MUNVoter.Models.Motion>
@{
    Layout = "~/Views/_LayoutPageMain.cshtml";
}


@if (User.Identity.IsAuthenticated)
{
    

<div class="col-sm">
    <h1>Mun Voting App</h1>
    <p>by Yekta Can Tursun</p>




    @using (Html.BeginForm("", "Home", new { sessionIDParameter = ViewBag.SessionID }, FormMethod.Post))
    {
        <div class="form-group">
            <label for="Operation">Motion Type</label>
            <select class="form-control" size="7" id="type" name="type">
                <option value="Moderated" selected>Moderated Caucus</option>
                <option value="Unmoderated">Unmoderated Caucus</option>
                <option value="Extention">Extention</option>
                <option value="Agenda">Set the Agenda</option>
                <option value="Voting">Voting Motions</option>
                <option value="Debate">Debate Motions</option>
                <option value="Paper">Paper Motions</option>
            </select>

        </div>
        <div id="titleTextBox" class="form-group">
            <label for="Number Two">Motion Title</label>
            @Html.TextBox("title", null, new { @class = "form-control", @placeholder = "The title of the motion" })
        </div>

        <div id="titleOption" class="form-group" hidden>
            <label for="Number Two">Motion Title</label>
            <select class="form-control" size="3" name="titleVoting">
                <option value="Divide the House" selected>Divide the House</option>
                <option value="Divide the Question">Divide the Question</option>
                <option value="Roll Call Vote">Roll Call Vote</option>
            </select>
        </div>

        <div id="titleOption_paper" class="form-group" hidden>
            <label for="Number Two">Motion Title</label>
            <select class="form-control" size="2" name="titlePaper">
                <option value="Introduce a Draft Resolution" selected>Introduce a Draft Resolution</option>
                <option value="Introduce an Amendment">Introduce an Amendment</option>
            </select>
        </div>

        <div id="titleOption_debate" class="form-group" hidden>
            <label for="Number Two">Motion Title</label>
            <select class="form-control" size="3" name="titleDebate">
                <option value="Close the Debate" selected>Close the Debate</option>
                <option value="Postpone the Debate">Postpone the Debate</option>
                <option value="Resume the Debate">Resume the Debate</option>
            </select>
        </div>
        <div class="form-group">
            <label for="Number Two">Country</label>
            @Html.TextBox("country", null, new { @class = "form-control", @placeholder = "eg Turkey, USA", @id="country" })
        </div>
        <div class="form-group">
            <label for="Number Two">Total Time</label>
            @Html.TextBox("totalTime", null, new { @class = "form-control", @placeholder = "in minutes", @type = "number", @step = "0.01", @min = 0, @max = 20, @id="totalTime" })
        </div>

        <div class="form-group">
            <label for="Number Two">Individual Time</label>
            @Html.TextBox("indTime", null, new { @class = "form-control", @placeholder = "in seconds", @type = "number", @step = "0.01", @id="indTime" })
        </div>
        <br>
        <input type="submit" name="submit_button" value="Add" id="add_btn" class="btn btn-primary btn-lg" disabled />
        <a href="@Url.Action("Clear", "Home", new { sessionIDParameter = ViewBag.SessionID })" type="submit" name="submit_button" id="clr_btn" class="btn btn-danger">Clear</a>
        <br>
    }
</div>

<div class="col-sm-7" align="center">
    @if (ViewBag.motionNumber > 0)
    {
        <h4>Number of Proposed Motion: @ViewBag.motionNumber</h4>
        <h2>Motions</h2>

        for (int i = 0; i < ViewBag.motionNumber; i++)
        {
            {
                string test = "";
                if (i == 0)
                {
                    test = "card border-success mb-2 w-75";
                }
                else
                {
                    test = "card w-75";
                }


                <div class="@test">
                    @if (i == 0)
                    {
                        <h5 class="card-header" style="color: green;">Voting</h5>
                        <a href="@Url.Action("Delete", "Home", new { sessionIDParameter = ViewBag.SessionID })" input name="submit_button" id="voted_btn" class="btn btn-success">Voted</a>

                    }
                    <div class="card-body">
                        <div class="row">
                            <div class="col-3"></div>
                            <div class="col-6">
                                <h5 class="card-title">
                                    @Model[i].type
                                </h5>
                            </div>
                            <div class="col-3">
                                <button class="btn btn-success btn-sm float-end" data-bs-toggle="modal" data-bs-target="#test_@Model[i].Id" onClick="editUIHandler(@Model[i].Id)">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                        <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z" />
                                    </svg>
                                </button>
                            </div>
                        </div>

                        <p class="card-text">@Model[i].title</p>
                        <p class="card-text"><i>by @Model[i].sponsorCountry </i> <img src="@ViewBag.countryImg[i]"></p>
                        <hr>
                        @if (Model[i].totalTime != null && Model[i].indTime == null)
                        {
                            <p class="card-text">Total Time: <b>@Model[i].totalTime min</b></p>
                        }
                        else if (Model[i].totalTime != null && Model[i].indTime != null)
                        {
                            <p class="card-text">Total Time: <b>@Model[i].totalTime min</b>,  Individual Time: <b>@Model[i].indTime seconds</b></p>
                        }
                    </div>
                </div>
                <br>
            }


            <div class="modal fade" id="test_@Model[i].Id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Edit Session</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        @using (Html.BeginForm("Edit", "Home", new { sessionIDParameter = ViewBag.SessionID, id= Model[i].Id }, FormMethod.Post))
                        {
                    <div class="modal-body">

                        <div class="form-group">
                            <label for="Operation">Motion Type</label>
                            <select class="form-control" size="7" name="type" id="type_@Model[i].Id">
                                @{
                                    string[] value = new string[7];

                                    if (Model[i].type == "Moderated")
                                    {
                                        value[0] = "selected";
                                    }
                                    else if (Model[i].type == "Unmoderated")
                                    {
                                        value[1] = "selected";
                                    }
                                    else if (Model[i].type == "Extention")
                                    {
                                        value[2] = "selected";
                                    }
                                    else if (Model[i].type == "Agenda")
                                    {
                                        value[3] = "selected";
                                    }
                                    else if (Model[i].type == "Voting")
                                    {
                                        value[4] = "selected";
                                    }
                                    else if (Model[i].type == "Debate")
                                    {
                                        value[5] = "selected";
                                    }
                                    else if (Model[i].type == "Paper")
                                    {
                                        value[6] = "selected";
                                    }

                                    <option value="Moderated" @value[0]>Moderated Caucus</option>
                                    <option value="Unmoderated" @value[1]>Unmoderated Caucus</option>
                                    <option value="Extention" @value[2]>Extention</option>
                                    <option value="Agenda" @value[3]>Set the Agenda</option>
                                    <option value="Voting" @value[4]>Voting Motions</option>
                                    <option value="Debate" @value[5]>Debate Motions</option>
                                    <option value="Paper" @value[6]>Paper Motions</option>
                                }

                            </select>
                        </div>

                        <div id="titleOption_@Model[i].Id" class="form-group" hidden>
                            <label for="Number Two">Motion Title</label>
                            <select class="form-control" size="3" name="titleVoting">
                                <option value="Divide the House" selected>Divide the House</option>
                                <option value="Divide the Question">Divide the Question</option>
                                <option value="Roll Call Vote">Roll Call Vote</option>
                            </select>
                        </div>

                        <div id="titleOption_paper_@Model[i].Id" class="form-group" hidden>
                            <label for="Number Two">Motion Title</label>
                            <select class="form-control" size="2" name="titlePaper">
                                <option value="Introduce a Draft Resolution" selected>Introduce a Draft Resolution</option>
                                <option value="Introduce an Amendment">Introduce an Amendment</option>
                            </select>
                        </div>

                        <div id="titleOption_debate_@Model[i].Id" class="form-group" hidden>
                            <label for="Number Two">Motion Title</label>
                            <select class="form-control" size="3" name="titleDebate">
                                <option value="Close the Debate" selected>Close the Debate</option>
                                <option value="Postpone the Debate">Postpone the Debate</option>
                                <option value="Resume the Debate">Resume the Debate</option>
                            </select>
                        </div>

                        <div id="titleTextBox_@Model[i].Id" class="form-group">
                            <label for="Number Two">Motion Title</label>
                            @Html.TextBox("title", Model[i].title, new { @class = "form-control" , @id="title_" + Model[i].Id})
                        </div>

                        <div class="form-group">
                            <label for="Number Two">Country</label>
                            @Html.TextBox("country", Model[i].sponsorCountry, new { @class = "form-control" , @id =  "country_" + Model[i].Id })
                        </div>
                        <div class="form-group">
                            <label for="Number Two">Total Time</label>
                            @Html.TextBox("totalTime", Model[i].totalTime, new { @class = "form-control", @type = "number", @step = "0.01", @min = 0, @max = 20, @id =  "totalTime_" + Model[i].Id })
                        </div>

                        <div class="form-group">
                            <label for="Number Two">Individual Time</label>
                            @Html.TextBox("indTime", Model[i].indTime, new { @class = "form-control", @type = "number", @step = "0.01", @id = "indTime_" + Model[i].Id })
                        </div>





                    </div>
                            <div class="modal-footer">
                                @Html.ActionLink("Delete", "DeleteMotion", "Home",new { sessionIDParameter = ViewBag.SessionID, id = Model[i].Id }, new { @class="btn btn-danger"})
                                <button  type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

                                <input value ="Save Changes" id="add_btn_@Model[i].Id" type="submit" class="btn btn-primary"/>
                            </div>
                        }
                    </div>
                </div>
            </div>

        }

    }
    else
    {

        <h2>There is no motion in the list</h2>

    }

</div>

<script>

    function editUIHandler(motionID) {
        /*
        console.log("MotionID: " + motionID);
        //motionID ="_"+ motionID;
        inputTextFieldHandler(motionID);
        console.log('input[id="' + motionID + '_country"]');
        console.log('button[id="save_btn_' + motionID + '"]');
        console.log('select[name = "type_' + motionID + '"]');
        if ($('select[name="type_' + motionID + '"]').val() == 'Moderated' || $('select[name="type_' + motionID + '"]').val() == 'Unmoderated' || $('select[name="type_' + motionID + '"]').val() == 'Extention') {
            if ($('input[id="' + motionID + '_country"]').val() != '' && $('input[id="' + motionID + '_title"]').val() != '' && $('input[id="' + motionID +'_totalTime"]').val() != '') {
                $('button[id="save_btn_' + motionID +'"]').removeAttr('disabled');
            } else {
                $('button[id="save_btn_' + motionID +'"]').prop('disabled', true);
            }
        } else {
            if ($('input[id="' + motionID + '_country"]').val() != '') {
                $('button[id="save_btn_' + motionID +'"]').removeAttr('disabled');
            } else {
                $('button[id="save_btn_' + motionID +'"]').prop('disabled', true);
            }
        }*/

        inputTextFieldHandler("_" + motionID);
    }
    function checkForButton(type) {
        console.log('select[id="type' + type + '"]')
        console.log('input[id="country' + type + '"]')
        if ($('select[id="type' + type + '"]').val() == 'Moderated' || $('select[id="type' + type + '"]').val() == 'Unmoderated' || $('select[id="type' + type + '"]').val() == 'Extention') {
            if ($('input[id="country' + type + '"]').val() != '' && $('input[id="title' + type + '"]').val() != '' && $('input[id="totalTime' + type + '"]').val() != '') {
                $('input[id="add_btn' + type + '"]').removeAttr('disabled');
                console.log("button active _ 1");
            } else {
                $('input[id="add_btn' + type + '"]').prop('disabled', true);
                console.log("button deactive _ 1");
            }
        } else {
            if ($('input[id="country' + type + '"]').val() != '') {
                $('input[id="add_btn' + type + '"]').removeAttr('disabled');
                console.log("button active _ 2");
                console.log('input[id="country' + type + '"]');
            } else {
                $('input[id="add_btn' + type + '"]').prop('disabled', true);
                console.log("button deactive _ 2");
            }
        }
    }

    function inputTextFieldHandler(type) {
        checkForButton(type);

        if ($('select[id="type' + type + '"]').val() == 'Moderated' || $('select[id="type' + type + '"]').val() == 'Unmoderated' || $('select[id="type' + type + '"]').val() == 'Extention') {

            $('div[ id="titleTextBox'+type + '"]').removeAttr('hidden');
            $('div[ id="titleOption' + type + '"]').prop('hidden', true);
            $('div[ id="titleOption_paper' + type + '"]').prop('hidden', true);
            $('div[ id="titleOption_debate' + type + '"]').prop('hidden', true);
            $('input[ id="totalTime' + type + '"]').attr("placeholder", "in minutes");
            $('input[ id="totalTime' + type + '"]').removeAttr('disabled');

            if ($('select[id="type' + type + '"]').val() == 'Moderated') {
                $('input[ id="indTime' + type + '"]').removeAttr('disabled');
                $('input[ id="indTime' + type + '"]').attr("placeholder", "in seconds");



            } else if ($('select[id="type' + type + '"]').val() == 'Unmoderated') {
                $('input[ id="indTime' + type + '"]').prop('disabled', true);
                $('input[ id="indTime' + type + '"]').attr("placeholder", "Unmoderated Motions do not have an individual time");
                $('input[ id="indTime' + type + '"]').val('');



            } else if ($('select[id="type' + type + '"]').val() == 'Extention') {
                $('input[ id="indTime' + type + '"]').removeAttr('disabled');
                $('input[ id="indTime' + type + '"]').attr("placeholder", "in seconds");

            }
        } else {
            clearTimeInputs(type)
            $('input[ id="indTime' + type + '"]').prop('disabled', true);
            $('input[ id="totalTime' + type + '"]').attr("placeholder", "This motion type does not have total time");
            $('input[ id="indTime' + type + '"]').attr("placeholder", "This motion type does not have individual time");
            $('input[ id="totalTime' + type + '"]').prop('disabled', true);
            if ($('select[id="type' + type + '"]').val() == 'Agenda') {


                $('div[ id="titleTextBox' + type + '"]').removeAttr('hidden');
                $('div[ id="titleOption' + type + '"]').prop('hidden', true);
                $('div[ id="titleOption_paper' + type + '"]').prop('hidden', true);
                $('div[ id="titleOption_debate' + type + '"]').prop('hidden', true);
            } else if ($('select[id="type' + type + '"]').val() == 'Voting') {

                $('div[ id="titleOption' + type + '"]').removeAttr('hidden');
                $('div[ id="titleTextBox' + type + '"]').prop('hidden', true);
                $('div[ id="titleOption_paper' + type + '"]').prop('hidden', true);
                $('div[ id="titleOption_debate' + type + '"]').prop('hidden', true);
            } else if ($('select[id="type' + type + '"]').val() == 'Paper') {

                $('div[ id="titleOption_paper' + type + '"]').removeAttr('hidden');
                $('div[ id="titleOption' + type + '"]').prop('hidden', true);
                $('div[ id="titleTextBox' + type + '"]').prop('hidden', true);
                $('div[ id="titleOption_debate' + type + '"]').prop('hidden', true);
            } else if ($('select[id="type' + type + '"]').val() == 'Debate') {

                $('div[ id="titleOption_debate' + type + '"]').removeAttr('hidden');
                $('div[ id="titleOption' + type + '"]').prop('hidden', true);
                $('div[ id="titleTextBox' + type + '"]').prop('hidden', true);
                $('div[ id="titleOption_paper"]').prop('hidden', true);
            }
        }
    }
    function clearTimeInputs(type) {
        $('input[ id="indTime' + type + '"]').val('');
        $('input[ id="totalTime' + type + '"]').val('');
    }

    $('input[id="country"]').keyup(function () {
        checkForButton("");

    });

    $('input[id="title"]').keyup(function () {
        checkForButton("");
    });

    $('input[id="totalTime"]').keyup(function () {
        checkForButton("");
    });

    $('select[name="type"]').click(function () {
        inputTextFieldHandler("");
    });

    @for (int i = 0; i < Model.Count(); i++)
     {
        <text>
        $('select[id="type_' + @Model[i].Id+ '"]').click(function () {
            inputTextFieldHandler("_" + @Model[i].Id);
        });

        $('input[id="country_'+@Model[i].Id +  '"]').keyup(function () {

            inputTextFieldHandler("_" + @Model[i].Id);
        });

        $('input[id="title_'+@Model[i].Id +  '"]').keyup(function () {
             inputTextFieldHandler("_" + @Model[i].Id);

        });

        $('input[id="totalTime_'+@Model[i].Id +  '"]').keyup(function () {
             inputTextFieldHandler("_" + @Model[i].Id);

        });
        </text>
    }
    $('input[name="indTime"]').blur(function () {
        if ($(this).val() <= 2 && $(this).val() > 0) {
            var value = $('input[ name="indTime"]').val();
            value = Math.floor(value) * 60;
            $('input[ name="indTime"]').val(value);
        }

    });
</script>
}
else { 
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        <h1>Mun Voting App</h1>
        <p>by Yekta Can Tursun</p>

        <h2>Welcome!</h2>
        <hr />
        <div class="d-grid gap-2 col-6 mx-auto">
            <a href="/Account/Login" class="btn btn-success btn-lg">Login</a>
            
            <a href="/Account/Register" class="btn btn-primary btn-lg">Register</a>
        </div>
    </div>

}
