@model List<MUNVoter.Models.Motion>
@{
    Layout = "~/Views/_LayoutPageMain.cshtml";
}


@if (User.Identity.IsAuthenticated)
{
    

<div class="col-sm">
    <h1>Mun Voting App</h1>
    <p>by Yekta Can Tursun</p>




    @using (Html.BeginForm("", "Home", new { sessionIDParameter = ViewBag.SessionID }, FormMethod.Post))
    {
        <div class="form-group">
            <label for="Operation">Motion Type</label>
            <select class="form-control" size="3" name="type">
                <option value="Moderated" selected>Moderated Caucus</option>
                <option value="Unmoderated">Unmoderated Caucus</option>
                <option value="Extention">Extention</option>
            </select>

        </div>
        <div class="form-group">
            <label for="Number Two">Motion Title</label>
            @Html.TextBox("title", null, new { @class = "form-control", @placeholder = "The title of the motion" })
        </div>

        <div class="form-group">
            <label for="Number Two">Country</label>
            @Html.TextBox("country", null, new { @class = "form-control", @placeholder = "eg Turkey, USA" })
        </div>
        <div class="form-group">
            <label for="Number Two">Total Time</label>
            @Html.TextBox("totalTime", null, new { @class = "form-control", @placeholder = "in minutes", @type = "number", @step = "0.01", @min = 0, @max = 20 })
        </div>

        <div class="form-group">
            <label for="Number Two">Individual Time</label>
            @Html.TextBox("indTime", null, new { @class = "form-control", @placeholder = "in seconds", @type = "number", @step = "0.01" })
        </div>
        <br>
        <input type="submit" name="submit_button" value="Add" id="add_btn" class="btn btn-primary btn-lg" disabled />
        <a href="@Url.Action("Clear", "Home", new { sessionIDParameter = ViewBag.SessionID })" type="submit" name="submit_button" id="clr_btn" class="btn btn-danger">Clear</a>
        <br>
    }
</div>

<div class="col-sm-7" align="center">
    @if (ViewBag.motionNumber > 0)
    {
        <h4>Number of Proposed Motion: @ViewBag.motionNumber</h4>
        <h2>Motions</h2>

        for (int i = 0; i < ViewBag.motionNumber; i++)
        {
            {
                string test = "";
                if (i == 0)
                {
                    test = "card border-success mb-2 w-75";
                }
                else
                {
                    test = "card w-75";
                }


                <div class="@test">
                    @if (i == 0)
                    {
                        <h5 class="card-header" style="color: green;">Voting</h5>
                        <a href="@Url.Action("Delete", "Home", new { sessionIDParameter = ViewBag.SessionID })" input name="submit_button" id="voted_btn" class="btn btn-success">Voted</a>

                    }
                    <div class="card-body">
                        <div class="row">
                            <div class="col-3"></div>
                            <div class="col-6">
                                <h5 class="card-title">
                                    @Model[i].type
                                </h5>
                            </div>
                            <div class="col-3">
                                <button class="btn btn-success btn-sm float-end" data-bs-toggle="modal" data-bs-target="#test_@Model[i].Id">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                        <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z" />
                                    </svg>
                                </button>
                            </div>
                        </div>

                        <p class="card-text">@Model[i].title</p>
                        <p class="card-text"><i>by @Model[i].sponsorCountry </i> <img src="@ViewBag.countryImg[i]"></p>
                        <hr>
                        @if (Model[i].type == "Extention" || Model[i].type == "Unmoderated")
                        {
                            <p class="card-text">Total Time: <b>@Model[i].totalTime min</b></p>
                        }
                        else
                        {
                            <p class="card-text">Total Time: <b>@Model[i].totalTime min</b>,  Individual Time: <b>@Model[i].indTime seconds</b></p>
                        }
                    </div>
                </div>
                <br>
            }


            <div class="modal fade" id="test_@Model[i].Id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Edit Session</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        @using (Html.BeginForm("Edit", "Home", new { sessionIDParameter = ViewBag.SessionID, id= Model[i].Id }, FormMethod.Post))
                        {
                    <div class="modal-body">

                        <div class="form-group">
                            <label for="Operation">Motion Type</label>
                            <select class="form-control" size="3" name="type">
                                @if (Model[i].type == "Moderated")
                                {
                                    <option value="Moderated" selected>Moderated Caucus</option>
                                    <option value="Unmoderated">Unmoderated Caucus</option>
                                    <option value="Extention">Extention</option>
                                }
                                else if (Model[i].type == "Unmoderated")
                                {
                                    <option value="Moderated">Moderated Caucus</option>
                                    <option value="Unmoderated" selected>Unmoderated Caucus</option>
                                    <option value="Extention">Extention</option>
                                }
                                else if (Model[i].type == "Extention")
                                {
                                    <option value="Moderated">Moderated Caucus</option>
                                    <option value="Unmoderated">Unmoderated Caucus</option>
                                    <option value="Extention" selected>Extention</option>
                                }

                            </select>

                        </div>
                        <div class="form-group">
                            <label for="Number Two">Motion Title</label>
                            @Html.TextBox("title", Model[i].title, new { @class = "form-control" })
                        </div>

                        <div class="form-group">
                            <label for="Number Two">Country</label>
                            @Html.TextBox("country", Model[i].sponsorCountry, new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            <label for="Number Two">Total Time</label>
                            @Html.TextBox("totalTime", Model[i].totalTime, new { @class = "form-control", @type = "number", @step = "0.01", @min = 0, @max = 20 })
                        </div>
                        @if (Model[i].type != "Unmoderated")
                        {
                            <div class="form-group">
                                <label for="Number Two">Individual Time</label>
                                @Html.TextBox("indTime", Model[i].indTime, new { @class = "form-control", @type = "number", @step = "0.01" })
                            </div>
                        }




                    </div>
                            <div class="modal-footer">
                                @Html.ActionLink("Delete", "DeleteMotion", "Home",new { sessionIDParameter = ViewBag.SessionID, id = Model[i].Id }, new { @class="btn btn-danger"})
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

                                <button type="submit" class="btn btn-primary">Save Changes</button>
                            </div>
                        }
                    </div>
                </div>
            </div>

        }

    }
    else
    {

        <h2>There is no motion in the list</h2>

    }

</div>

<script>
    $('input[name="country"]').keyup(function () {
        if ($('input[name="country"]').val() != '' && $('input[name="title"]').val() != '' && $('input[name="totalTime"]').val() != '') {
            $('input[id="add_btn"]').removeAttr('disabled');
        } else {
            $('input[id="add_btn"]').prop('disabled', true);
        }
    });

    $('input[name="title"]').keyup(function () {
        if ($('input[name="title"]').val() != '' && $('input[name="country"]').val() && $('input[name="totalTime"]').val() != '') {
            $('input[id="add_btn"]').removeAttr('disabled');
        } else {
            $('input[id="add_btn"]').prop('disabled', true);
        }
    });

    $('input[name="totalTime"]').keyup(function () {
        if ($('input[name="title"]').val() != '' && $('input[name="country"]').val() && $('input[name="totalTime"]').val() != '') {
            $('input[id="add_btn"]').removeAttr('disabled');
        } else {
            $('input[id="add_btn"]').prop('disabled', true);
        }
    });

    $('select[name="type"]').click(function () {
        if ($(this).val() == 'Moderated') {
            $('input[ name="indTime"]').removeAttr('disabled');
            $('input[ name="indTime"]').attr("placeholder", "in Seconds");
        } else if ($(this).val() == 'Unmoderated') {
            $('input[ name="indTime"]').prop('disabled', true);
            $('input[ name="indTime"]').attr("placeholder", "Unmoderated Motions do not have an individual time");
            $('input[ name="indTime"]').val('');
        } else if ($(this).val() == 'Extention') {
            $('input[ name="indTime"]').removeAttr('disabled');
            $('input[ name="indTime"]').attr("placeholder", "in Seconds");
        }
    });

    $('input[name="indTime"]').blur(function () {
        if ($(this).val() <= 2 && $(this).val() > 0) {
            var value = $('input[ name="indTime"]').val();
            value = Math.floor(value) * 60;
            $('input[ name="indTime"]').val(value);
        }

    });
</script>
}
else { 
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        <h1>Mun Voting App</h1>
        <p>by Yekta Can Tursun</p>

        <h2>Welcome!</h2>
        <hr />
        <div class="d-grid gap-2 col-6 mx-auto">
            <a href="/Account/Login" class="btn btn-success btn-lg">Login</a>
            
            <a href="/Account/Register" class="btn btn-primary btn-lg">Register</a>
        </div>
    </div>

}
