<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-light bg-light">
            <div class="container-fluid">
                <span class="navbar-brand mb-0 h1">Yekta Can Tursun's MVC Application Project</span>
            </div>
        </nav>
       </div>

    <div class="container body-content">
        <hr />

        @if (IsSectionDefined("Kategori"))
        {
            <div class="row">
                <div class="col-md-3">
                    @RenderSection("Kategori", false)
                </div>
                <div class="col-md-9">
                    @RenderBody()
                    <div />

                    <footer>
                        <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
                    </footer>
                </div>
            </div>
        }
        else
        {
            <div class="row">
               <div class="col-md-12">
                    @RenderBody()
                    <div />
                    <footer>
                        <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
                    </footer>
                </div>
            </div>
        }

        <script src="~/Scripts/jquery-3.4.1.min.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>